# ignore __pycache__
__pycache__

# data files
data/tr_wiki67/trwiki-67.test.raw
data/tr_wiki67/trwiki-67.train.raw
data/tr_wiki67/trwiki-67.val.raw
data/tr_wiki67/tr_wiki67_dataset
data/tr_wiki67/raw_dataset
data/tr_wiki67/nsp_mlm_table

deneme_ab_tablosu
tokenizer_wordpiece